.idea/
.vscode/
app/locale/
app/code/core/
app/code/community/*
!app/code/community/Freterapido
app/design/adminhtml/
app/design/install
app/design/frontend/default/
app/design/frontend/rwd/
app/design/frontend/base/default/etc/
app/design/frontend/base/default/layout/*
app/design/frontend/base/default/template/*
!app/design/frontend/base/default/layout/freterapido
!app/design/frontend/base/default/template/freterapido
!app/design/frontend/base/default/template/Freterapido
app/etc/modules/*
!app/etc/modules/Freterapido_Freterapido.xml
!app/etc/modules/Freterapido_ProductPageShipping.xml
app/etc/config.xml
app/etc/local.*
app/bootstrap.php
app/Mage.php
app/.htaccess
dev/
downloader/
errors/
includes/
js/
lib/
media/
shell/
skin/adminhtml
skin/frontend/base/default/css/*
!skin/frontend/base/default/css/freterapido
skin/frontend/base/default/images
skin/frontend/base/default/js
skin/frontend/base/default/lib
skin/frontend/base/default/*.ico
skin/frontend/default
skin/frontend/rwd
skin/install
tmp/
var/
/*.htaccess
/*.html
/*.ico
/*.php
/*.sample
/*.sh
/*.txt
/*.xml
mage
