locale/
code/core/
code/community/*
!code/community/Freterapido
!etc/modules/Freterapido_Freterapido.xml
design/adminhtml/
design/install
design/frontend/default/
design/frontend/rwd/
design/frontend/base/default/etc/
design/frontend/base/default/layout/
design/frontend/base/default/template/*
!design/frontend/base/default/template/Freterapido
etc/modules
etc/config.xml
etc/local.*
bootstrap.php
Mage.php
.htaccess