<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @category  Freterapido
 * @package   Freterapido_Freterapido
 * @author    freterapido.com <suporte@freterapido.com>
 * @copyright Frete Rápido (https://freterapido.com)
 * @license   http://opensource.org/licenses/MIT MIT
 * @link      https://github.com/freterapido/freterapido-magento
 */
-->
<config>
    <tabs>
        <parcelamento translate="label" module="freterapido">
            <label>Frete Rápido</label>
            <sort_order>110</sort_order>
        </parcelamento>
    </tabs>
    <sections>
        <carriers translate="label" module="freterapido">
            <groups>
                <freterapido translate="label">
                    <label>Frete Rápido</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment>
                        <![CDATA[ <div style="background: #FFF; border: none; border-radius: 5px; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1)">
                        <div style="padding:15px;text-align: center; vertical-align:bottom;">
                        <a href="http://www.freterapido.com" target="_blank">
                        <img src="https://freterapido.com/imgs/frete_rapido.png" style="margin: auto" />
                        </a>
                        <div style="padding-top: 20px;">
                            Configure abaixo a sua conta com os dados da loja para obter as cotações de frete através do Frete Rápido.
                            </br>
                            O token está disponível no seu <a href="https://freterapido.com/painel/" target="_blank"<name />Painel administrativo</a>.
                            </br>
                            Em caso de dúvidas, reporte de bugs ou sugestão de melhorias, acesse a <a href="https://github.com/freterapido/freterapido_magento" target="_blank"<name />documentação deste módulo no Github</a>.
                            </br>
                        </div>
                        </div>
                        <div class="clear"></div>
                        </div> ]]>
                    </comment>
                    <fields>
                        <active translate="label">
                            <label>Habilitar</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Ativa ou desativa o módulo</comment>
                        </active>
                        <shipper_cnpj translate="label">
                            <label>CNPJ</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>CNPJ cadastrado no Frete Rápido</comment>
                        </shipper_cnpj>
                        <weight_type translate="label">
                            <label>Formato do Peso</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Freterapido_Freterapido_Model_Source_WeightType</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Formato do peso dos produtos.</comment>
                            <tooltip>O formato do peso irá implicar na maneira como o mesmo é cadastrado no produto, por
                                exemplo, 1 Kg no formato "Kilo" será "1.000", já em "Gramas" será "1000.000".
                            </tooltip>
                        </weight_type>
                        <generic_height translate="label">
                            <label>Altura padrão (cm)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Altura padrão da embalagem (Para cálculo do frete)</comment>
                        </generic_height>
                        <generic_width translate="label">
                            <label>Largura padrão (cm)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Largura padrão da embalagem (Para cálculo do frete)</comment>
                        </generic_width>
                        <generic_length translate="label">
                            <label>Comprimento padrão (cm)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Comprimento padrão da embalagem (Para cálculo do frete)</comment>
                        </generic_length>
                        <free_shipping translate="label">
                            <label>Frete Grátis</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Define como Frete Grátis o frete que possuir o menor valor</comment>
                        </free_shipping>
                        <free_shipping_minimum_value translate="label">
                            <label>Valor mínimo Frete Grátis</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Define o valor mínimo para ativar a regra de Frete Grátis. Para valor indefinido, informe 0</comment>
                        </free_shipping_minimum_value>
                        <filter translate="label">
                            <label>Resultados</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Freterapido_Freterapido_Model_Source_ResultOptions</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Como você gostaria de receber os resultados?</comment>
                        </filter>
                        <limit translate="label">
                            <label>Limite</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Freterapido_Freterapido_Model_Source_LimitOptions</source_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Escolha um limite de resultados</comment>
                        </limit>
                        <token translate="label">
                            <label>Token</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Token de integração com o Frete Rápido</comment>
                            <tooltip>
                                Este token é fornecido pelo Frete Rápido. Entre em contato e saiba mais!
                            </tooltip>
                        </token>
                    </fields>
                </freterapido>
            </groups>
        </carriers>
    </sections>
</config>
